body {
    font-family: Neue Haas Grotesk Text Pro; 
    background-color: rgb(255, 255, 255);
    color: rgb(245, 59, 59);
    cursor: url('Dateien/Cursor/Unbenannt-2.png'), auto;
}


/*Überschriften*/

h1 {
    font-size: 6em;
    font-weight: 10; 
    color: rgb(245, 59, 59);
    margin-top: 0px;
    line-height: 0.8;
}

h2 {
    font-weight: 1;
    font-size: 3em;
    color: rgb(245, 59, 59);
}

h3 {
    font-size: 1.5em;
    font-weight: 100; 
    color: rgb(245, 59, 59);
    margin-top: 0px;
    line-height: 1;   
}

/*Navigation*/

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 0;
    margin: 0;        
}

nav ul li a {
    text-decoration: none;
    color: rgb(245, 59, 59);
}

nav ul li a:hover {
    font-size: 1.2em;
    color: rgb(255, 68, 0);
}

img:hover {
    transform: scale(1.05);
}

/*Kontakt*/

.kontaktinfo1 {
    text-align:justify;
    position: absolute; 
    left: 11%; 
    top: 40%;
}

.kontaktfoto {
    position: absolute; 
    top: 80%; 
    left: 80%;
}

.fußleistekontakt {
    position: absolute; 
    left: 3%; 
    top: 130%;
    line-height: 3; 
}

.fußleistekontakt a {
    text-decoration: none; 
    color: rgb(255, 68, 0);       
}

.fußleistekontakt a:hover {
    font-size: 1.2em;
    color: rgb(255, 68, 0);
}

/*Home*/

.homevideo {
    position: absolute; 
    top: 0%; 
    left: 0%;
    z-index: -10;
}
    
.homevideo video {
    width: 100%;
} 

.no-picture-in-picture {
    pointer-events: none; 
    object-fit: cover;
}

.homevideo2 {
    position: absolute; 
    top: 70%; 
    right: 5%;
    z-index: -10;
}

.introbilder {
    position: absolute; 
    left: 0%; 
    top: 300%; 
}

.modedesign {
    position: absolute; 
    left: 23%; 
    top: 17%; 
}

.und {
    font-family: Monotype Corsiva; 
    font-size: 1.5em;
    position: absolute; 
    left: 45%; 
    top: 22%; 
}

.kommunikationsdesign {
    position: absolute; 
    left: 40%; 
    top: 37%; 
}

.design {
    position: absolute; 
    left: 60%; 
    top: 50%; 
}

.born {
    font-family: Monotype Corsiva; 
    font-size: 1.5em;
    position: absolute; 
    left: 10%; 
    top: 65%; 
}   

.berlin {
    font-family: Monotype Corsiva; 
    font-size: 1.5em;
    position: absolute; 
    left: 13%; 
    top: 75%; 
}


/*Projekte*/

.projektnachtfallen {
    position: absolute; 
    left: 3%; 
    top: 30%; 
    line-height: 3;
}

.projektsymbiosis {
    position: absolute; 
    left: 52%; 
    top: 30%; 
    line-height: 3;
}

.projektschlehenschwärmer {
    position: absolute; 
    left: 3%; 
    top: 118%; 
    line-height: 3;
}

.projektwelkeweise {
    position: absolute; 
    left: 52%; 
    top: 118%;
    line-height: 3; 
}

.projektei {
    position: absolute; 
    left: 3%; 
    top: 206%;
    line-height: 3; 
}


.fußleiste {
    position: absolute; 
    left: 3%; 
    top: 230%;
    line-height: 3; 
}

.fußleiste a {
    text-decoration: none; 
    color: rgb(255, 68, 0);       
}

.fußleiste a:hover {
    font-size: 1.2em;
    color: rgb(255, 68, 0);
}


/*Symbiosis*/

.symbiosisinfo1 {
    text-align:justify;
    position: absolute; 
    left: 11%; 
    top: 40%;
}

.endlos {
    font-family: Monotype Corsiva; 
    font-size: 1.5em;
    position: absolute; 
    left: 10%; 
    top: 8%; 
}

.symbiosisinfo2 {
    text-align:justify;
    position: absolute; 
    left: 52%; 
    top: 220%;
}

.symbiosisfoto1 {
    position: absolute; 
    left: 50%; 
    top: 258%;  
}

.symbiosisfoto1 p {
    font-size: 0.8em;
    line-height: 0%;
}

.symbiosisfoto2 {
    position: absolute; 
    left: 11%; 
    top: 230%;  
}

.symbiosisfoto2 p {
    font-size: 0.8em;
    line-height: 0%;
}

.symbiosisvideo {
    position: absolute; 
    top: 80%; 
    left: 0%;
}

.symbiosisvideo video {
    width: 100%;
}

.fußleistesymbiosis {
    position: absolute; 
    left: 3%; 
    top: 340%;
    line-height: 3; 
}
    
.fußleistesymbiosis a {
    text-decoration: none; 
    color: rgb(255, 68, 0);       
}
    
.fußleistesymbiosis a:hover {
    font-size: 1.2em;
    color: rgb(255, 68, 0);
}

/*Nachtfallen*/

.nachtfalleninfo {
    text-align:justify;
    position: absolute; 
    left: 11%; 
    top: 40%;  
}

.träume {
    font-family: Monotype Corsiva; 
    font-size: 1.5em;
    position: absolute; 
    left: 10%; 
    top: 8%; 
}

.nachtfallenfoto1 {
    position: absolute; 
    left: 1%; 
    top: 80%;  
}

.nachtfallenfoto2 {
    position: absolute; 
    left: 36.5%; 
    top: 80%;  
}

.nachtfallenfoto3 {
    position: absolute; 
    left: 72%; 
    top: 80%;  
}

.nachtfallenfoto4 {
    position: absolute; 
    left: 1%; 
    top: 175%;  
}

.nachtfallenfoto5 {
    position: absolute; 
    left: 36.5%; 
    top: 175%;  
}

.nachtfallenfoto6 {
    position: absolute; 
    left: 72%; 
    top: 175%;  
}

.fußleistenacht {
    position: absolute; 
    left: 3%; 
    top: 280%;
    line-height: 3; 
}
    
.fußleistenacht a {
    text-decoration: none; 
    color: rgb(255, 68, 0);        
}
    
.fußleistenacht a:hover {
    font-size: 1.2em;
    color: rgb(255, 68, 0);
}

/*Welke Weise*/

.welkeweiseinfo {
    text-align:justify;
    position: absolute; 
    left: 11%; 
    top: 40%;   
}

.welkeweiseinfo2 {
    text-align:justify;
    position: absolute; 
    left: 52%; 
    top: 150%;
}

.welkeweisefoto1 {
    position: absolute; 
    left: 50%; 
    top: 183%;  
}

.welkeweisefoto1 p {
    font-size: 0.8em;
    line-height: 0%;
}

.welkeweisefoto2 {
    position: absolute; 
    left: 11%; 
    top: 155%;  
}

.welkeweisefoto2 p {
    font-size: 0.8em;
    line-height: 0%;
}

.welkeweisefoto3 {
    position: absolute; 
    top: 80%; 
    left: 0%;
}

.welkeweisefoto4 {
    position: absolute; 
    top: 80%; 
    left: 20%;
}

.welkeweisefoto5 {
    position: absolute; 
    top: 80%; 
    left: 40%;
}

.welkeweisefoto6 {
    position: absolute; 
    top: 80%; 
    left: 60%;
}

.welkeweisefoto7 {
    position: absolute; 
    top: 80%; 
    left: 80%;
}

.fußleistewelkeweise {
    position: absolute; 
    left: 3%; 
    top: 265%;
    line-height: 3; 
}
    
.fußleistewelkeweise a {
    text-decoration: none; 
    color: rgb(255, 68, 0);        
}
    
.fußleistewelkeweise a:hover {
    font-size: 1.2em;
    color: rgb(255, 68, 0);
}

/*Schlehenschwärmer*/

.schleheninfo1 {
    text-align:justify;
    position: absolute; 
    left: 11%; 
    top: 40%;   
}

.schleheninfo2 {
    position: absolute; 
    left: 52%; 
    top: 220%;
}

.schlehenfoto1 {
    position: absolute; 
    left: 50%; 
    top: 258%;  
}

.schlehenfoto1 p {
    font-size: 0.8em;
    line-height: 0%;
}

.schlehenfoto2 {
    position: absolute; 
    left: 11%; 
    top: 230%;  
}

.schlehenfoto2 p {
    font-size: 0.8em;
    line-height: 0%;
}

.schlehenvideo {
    position: absolute; 
    top: 80%; 
    left: 0%;
}

.schlehenvideo video {
    width: 100%;
}

.fußleisteschlehen {
    position: absolute; 
    left: 3%; 
    top: 340%;
    line-height: 3; 
}
    
.fußleisteschlehen a {
    text-decoration: none; 
    color: rgb(255, 68, 0);        
}
    
.fußleisteschlehen a:hover {
    font-size: 1.2em;
    color: rgb(255, 68, 0);
}

