body {
    font-family: Neue Haas Grotesk Text Pro; 
    background-color: white;
    color: black;
}


h1 {
    font-size: 8em;
    font-weight: 10; 
    color: black;
    margin-top: 0px;
    line-height: 0.8;
}

h2 {
    font-weight: 1;
    font-size: 8em;
    color: black;
}

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 0;
    margin: 0;        
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    font-size: 1.2em;
    color: #000000; 
}

img:hover {
    transform: scale(1.05);
}

.introvideo {
    position: absolute; 
    left: 13%; 
    top: 75%; 
}

.no-picture-in-picture {
    pointer-events: none; 
    object-fit: cover;
}


.projekte {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px;

}

.projekte img {
    width: 100%;
    height: auto;
}

.projekt-item {
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: left;
    gap: 10px;
}

.schlehenschwärmer {
    margin-top: 10px;
}

.modedesign {
    padding-left: 30%;;
}

.und {
    font-family: Monotype Corsiva; 
    padding-left: 70%;
    font-size: 1.5em;
    top: -300px;
    z-index: 1; 
}

.kommunikationsdesign {
    padding-left: 37%; 
}

.intro {
    line-height: 400%;
    z-index: 1; 
}

.introbilder {
    position: relative; 
    top: -800px; 
    z-index: 1; 
}