body {
    font-family: Neue Haas Grotesk Text Pro; 
    background-color: white;
    color: black;
}

/*Überschriften*/

h1 {
    font-size: 12em;
    font-weight: 10; 
    color: black;
    margin-top: 0px;
    line-height: 0.8;
}

h2 {
    font-weight: 1;
    font-size: 3em;
    color: black;
}

/*Navigation*/

nav ul {
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 0;
    margin: 0;        
}

nav ul li a {
    text-decoration: none;
    color: black;
}

nav ul li a:hover {
    font-size: 1.2em;
    color: #000000; 
}

img:hover {
    transform: scale(1.05);
}

/*Home*/

.deckbild {
    background-image: url(/Dateien/01fb5fe6d4999a955041792dcba70f8a2469837887.jpg);
    background-size: cover;
    position: absolute;
    top: 200%;
    background-size: cover;
 }

.introvideo {
    position: absolute; 
    left: 0%; 
    top: 140%; 
}

.no-picture-in-picture {
    pointer-events: none; 
    object-fit: cover;
}

.introbilder {
    position: absolute; 
    left: 65%; 
    top: 0%; 
}

.modedesign {
    position: absolute; 
    left: 14%; 
    top: 49%; 
}

.und {
    font-family: Monotype Corsiva; 
    font-size: 1.5em;
    position: absolute; 
    left: 50%; 
    top: 70%; 
}

.kommunikationsdesign {
    position: absolute; 
    left: 7.5%; 
    top: 100%; 
}

.design {
    position: absolute; 
    left: 52%; 
    top: 125%; 
}

.born {
    font-family: Monotype Corsiva; 
    font-size: 1.5em;
    position: absolute; 
    left: 52%; 
    top: 147%; 
}   

.berlin {
    font-family: Monotype Corsiva; 
    font-size: 1.5em;
    position: absolute; 
    left: 75%; 
    top: 155%; 
}


/*Projekte*/

.projekte {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;
    padding: 20px;

}

.projekte img {
    width: 100%;
    height: auto;
}

.projekt-item {
    text-align: left;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: left;
    gap: 10px;
}

.schlehenschwärmer {
    margin-top: 10px;
}


